soaANTproject/SOA/WSDLs/soaANTBPEL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="soaANTBPEL"
             targetNamespace="http://xmlns.oracle.com/soaANTapplication/soaANTproject/soaANTBPEL"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:client="http://xmlns.oracle.com/soaANTapplication/soaANTproject/soaANTBPEL"
             xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	TYPE DEFINITION - List of services participating in this BPEL process
	The default output of the BPEL designer uses strings as input and 
	output to the BPEL Process. But you can define or import any XML 
	Schema type and use them as part of the message types.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->   
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://xmlns.oracle.com/soaANTapplication/soaANTproject/soaANTBPEL" schemaLocation="../Schemas/soaANTBPEL.xsd" />
		</schema>
	</wsdl:types>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	MESSAGE TYPE DEFINITION - Definition of the message types used as 
	part of the port type defintions
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->      
	<wsdl:message name="soaANTBPELRequestMessage">
		<wsdl:part name="payload" element="client:process"/>
	</wsdl:message>

	<wsdl:message name="soaANTBPELResponseMessage">
		<wsdl:part name="payload" element="client:processResponse"/>
	</wsdl:message>


	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	PORT TYPE DEFINITION - A port type groups a set of operations into
	a logical service unit.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- portType implemented by the soaANTBPEL BPEL process -->
	<wsdl:portType name="soaANTBPEL">
		<wsdl:operation name="process">
			<wsdl:input message="client:soaANTBPELRequestMessage"/>
		</wsdl:operation>
	</wsdl:portType>

	<!-- portType implemented by the requester of soaANTBPEL BPEL process
	for asynchronous callback purposes
	-->
	<wsdl:portType name="soaANTBPELCallback">
		<wsdl:operation name="processResponse">
			<wsdl:input message="client:soaANTBPELResponseMessage"/>
		</wsdl:operation>
	</wsdl:portType>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	PARTNER LINK TYPE DEFINITION
	the soaANTBPEL partnerLinkType binds the provider and
	requester portType into an asynchronous conversation.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<plnk:partnerLinkType name="soaANTBPEL">
		<plnk:role name="soaANTBPELProvider" portType="client:soaANTBPEL"/>
		<plnk:role name="soaANTBPELRequester" portType="client:soaANTBPELCallback"/>
	</plnk:partnerLinkType>
</wsdl:definitions>
